@page 
@model TheJawaShop.Pages.UserPages.Checkout

@{ ViewData["Title"] = "Utinni!"; }

<h1>Thank you for your business</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <!-- User Email Input -->
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <p></p>
            <div class="form-group">
                <!-- User Credit Card Information Input -->
                <label asp-for="CardNumber" class="control-label"></label>
                <input asp-for="CardNumber" class="form-control" />
                <span asp-validation-for="CardNumber" class="text-danger"></span>
            </div>
            <p></p>
                <!-- User Button Selection for purchase or cancel -->
                <input type="submit" asp-page-handler="Cancel" asp-route-id="@Model.TheUser.UserId"
                       value="Cancel Purchase" class="btn btn-primary" />
                <input type="submit" asp-page-handler="Purchase" asp-route-id="@Model.TheUser.UserId"
                       value="Purchase Items" class="btn btn-primary" />
        </form>
    </div>
</div>

<!-- Table shows the products the user bought -->
<p></p>
<table class="table">
    <thead>
        <tr>
            <!-- Table headers -->
            <th>Product Name</th>
            <th>Product Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.TheUser.Products)
    {
        <tr>
            <!-- Table contents -->
            <td>@Html.DisplayFor(modelItem => item.ProductName)</td>
            <td>@Html.DisplayFor(modelItem => item.ProductPrice)</td>
        </tr>
    }
    </tbody>
</table>

<!-- Give the user the total cost of their order -->
@{
    decimal Total = 0;
    foreach (var item in Model.TheUser.Products)
        Total += item.ProductPrice;

    // Format the total cost with currency formatting
    <h4>The total cost of today's order is: @Total.ToString("C") Republic Credits</h4>
}

<!-- Javascript script that is called for validation -->
@section Scripts { @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); } }