@page 
@model TheJawaShop.Pages.UserPages.OrderHistory

@{
    ViewData["Title"] = "View Orders";
}

<h1>Order History</h1>
<a asp-page="./Index" asp-route-id="@Model.ThisUserId">Back to The Jawa Shop</a>
<p></p>
<!-- Loop through each order -->
@{
    int OrderNumber = 1;
    foreach (var order in Model.TheOrder)
    {
        <table class="table table-primary">
            <thead><tr>
                    <!-- Table headings for Order#, Date and Total Cost of the Order -->
                    <th> Order Number </th>
                    <th> Order Date </th>
                    <th> Order Cost </th>
            </tr></thead>
            <tbody>
                <tr class="table-secondary">
                    <!-- Display the Order information -->
                    <td> @Html.DisplayFor(modelItem => @OrderNumber) </td>
                    <td> @Html.DisplayFor(modelItem => order.OrderDate) </td>
                    <td> @Html.DisplayFor(modelItem => order.OrderPrice) </td>
                </tr>
                <tr><td colspan="4">
                <table class="table table-success mb-0">
                    <thead><tr>
                            <!-- Inside each order, display the products name and price -->
                            <th> Product Name </th>
                            <th> Product Price </th>
                    </tr></thead>
                    <tbody>
                    <!-- Loop through each product in this order -->
                    @foreach (var product in order.ProductOrders)
                    {
                        <tr class="table-secondary">
                            <td> @Html.DisplayFor(modelItem => product.Product.ProductName) </td>
                            <td> @Html.DisplayFor(modelItem => product.Product.ProductPrice) </td>
                        </tr>
                    }
                    </tbody>
                </table>
                </td></tr>
            </tbody>
        </table>
        <hr />
        ++OrderNumber;
    }
}