@page 
@model TheJawaShop.Pages.AdminPages.IndexModel

@{
    ViewData["Title"] = "Admin Mode";
}

<h1>Website Management</h1>

<div>
    <a asp-page="Create" asp-route-id="@Model.AdminUserId">Add New Product</a> |
    <a asp-page="ManageUser" asp-route-id="@Model.AdminUserId">Manage Users</a> |
    <a asp-page="./../Index">Logout</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ProductPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Product) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            <td>
                <!-- Route the ProductId and the AdminUserId to the models -->
                <a asp-page="./Edit" asp-route-ProdId="@item.ProductId" asp-route-AdminId="@Model.AdminUserId">Edit</a> |
                <a asp-page="./Details" asp-route-ProdId="@item.ProductId" asp-route-AdminId="@Model.AdminUserId">Details</a> |
                <a asp-page="./Delete" asp-route-ProdId="@item.ProductId" asp-route-AdminId="@Model.AdminUserId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
