@page
@model TheJawaShop.Pages.AdminPages.ManageUser

@{
    ViewData["Title"] = "Manage Users";
}

<h1>User Management</h1>

<p><a asp-page="CreateUser" asp-route-id="@Model.AdminUserId">Add New User</a>
<!-- Table with the Users, their orders and the cost of the orders -->
<table class="table">
    <thead>
        <tr>
            <th>
                User Name
            </th>
            <th>
                Number of Orders
            </th>
            <th>
                Total Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <!-- Display the Data for each column -->
    @foreach (var user in Model.TheUser) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => user.UserName)
            </td>
            <td>
                @user.Orders.Count()
            </td>
            <td>
                @{
                    decimal total = 0;
                    foreach (var transaction in user.Orders)
                        total += transaction.OrderPrice;
                    @total.ToString("C"); // Currency formatting, total of this user's orders
                }
            </td>
            <td>
                <a asp-page="./EditUser" asp-route-ThisUserId="@user.UserId" asp-route-AdminId="@Model.AdminUserId">Edit User</a> |
                <a asp-page="./OrderDetails" asp-route-ThisUserId="@user.UserId" asp-route-AdminId="@Model.AdminUserId">View Orders</a> |
                <a asp-page="./DeleteUser" asp-route-ThisUserId="@user.UserId" asp-route-AdminId="@Model.AdminUserId">Delete User</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-page="./Index" asp-route-id="@Model.AdminUserId">Back to Admin Page</a>
</div>