@page
@model TheJawaShop.Pages.AdminPages.OrderDetails

@{
    ViewData["Title"] = "View Orders";
}

<h1>Order Details</h1>

<table class="table">
    <thead>
        <tr>
            <!-- Table headings for Order#, Date and Cost of the Order -->
            <th>
                Order Number
            </th>
            <th>
                Order Date
            </th>
            <th>
                Order Cost
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var order in Model.TheOrder) {
        <!-- Order Table body information -->
        <tr>
            <td>
                @Html.DisplayFor(modelItem => order.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => order.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => order.OrderPrice)
            </td>
        </tr>
        <table class="table">
            <thead>
                <tr>
                    <!-- Order Header for the specific products in the order -->
                    <th>
                        Product Name
                    </th>
                    <th>
                        Product Price
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @foreach (var product in order.ProductOrders) {
            <tr>
                <!-- Product body information -->
                <td>
                    @Html.DisplayFor(modelItem => product.Product.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => product.Product.ProductName)
                </td>
            </tr>
            }
            </tbody>
        </table>
    }
    </tbody>
</table>
<a asp-page="ManageUser" asp-route-id="@Model.AdminUserId">Back to Users</a>